.mission {
    .mission1{
        background-color: $cream;
        padding: 50px;
        color: $brown;
    }
    h1 {
        font-weight: 700;
        font-size: 70px; 
    }
    p{
        font-weight: 400;
        font-size: 12px;
    }
}