.righttype {
    h1 {
        font-weight: 700;
        font-size: 32px;
        color: $lightcream;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        color: $lightcream;
    }
    .rightimage {
        background-image: url("../../../deploy/images/righttypebike.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 75vh;
    }
    
    .rightcolor {
        background-color: rgb(5, 38, 60, .5);
    }
}