.righttype {
    .rightimage {
        background-image: url("../../../deploy/images/righttypebike.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 75vh;
    }
    .whatsright {
        background-color: rgb(5, 38, 60, .5);
    }
}