/* =============
    Base
============= */
figure {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.content {
    margin-bottom: 24px;

    @include md {
        margin-bottom: 32px;
    }
    @include lg {
        margin-bottom: 64px;
    }
    @include xl {
        margin-bottom: 64px;
    }
}

main {
	display: grid;
	grid-template-areas: 
		"header"
		"mission"
		"hero"
		"biketypes1"
		"righttype"
		"bikeintro"
		"biketypes2"
		"price"
		"footer";
}

header {
	grid-area: header;

	.logo {
		display: grid;
		justify-content: center;
		grid-template-columns: 70% auto;
	}

	ul {
		display: grid;
	}

	@include md {
		ul {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: 20px;
		}
	}
}

.mission {
	grid-area: mission;

	.mission1 {
		display: grid;
		grid-template-columns: 50px 400px 50px;
	}

	@include md {
		.mission1 {
			display: grid;
			justify-content: center;
		}
	}
}

.hero {
	grid-area: hero;

	.roadbike {
		display: grid;
		grid-template-columns: 150px;
		grid-template-rows: 30px auto;
	}
}

.biketypes1 {
	grid-area: biketypes1;

	ul {
		display: grid;
	}

	@include md {
		ul li {
		display: grid;
		grid-template-columns: 600px 400px;
		justify-content: center;
		}
	}
}

.righttype {
	grid-area: righttype;

	.whatsright {
		display: grid;
		grid-template-columns: 450px;
		gap: 20px;
	}

	@include md {
		p {
			display: grid;
			grid-template-columns: 60%;
			justify-content: center;
		}
	}
}

.bikeintro {
	grid-area: bikeintro;

	.paragraph{
		display: grid;
		grid-template-columns: 500px;
	}

	@include md {
		.bikeintrodiv {
			display: grid;
			justify-content: center;
		}
		h3 {
			display: grid;
			justify-content: right;
		}
		.sportiveimage {
			display: grid;
			justify-content: left;
		}
		.paragraph {
			display: grid;
			justify-content: right;
		}
	}

}

.biketypes2 {
	grid-area: biketypes2;

	ul {
		display: grid;
	}

	@include md {
		ul {
			display: grid;
			justify-content: center;
		}
		.typediv {
			display: grid;
			grid-template-columns: 50% auto;
			justify-content: center;
		}
	}
}

.price {
	grid-area: price;

	.typesbyprice {
		display: grid;
	}
	.pricep {
		display: grid;
		grid-template-columns: 350px;
		gap: 30px;
	}
	
	@include md {
		.pricep {
			display: grid;
			justify-content: center;
		}
		.priceimage {
			display: grid;
			justify-content: center;
		}
		h2 {
			display: grid;
			justify-content: center;
		}
	}
}

footer {
	grid-area: footer;

	.bikefooter {
		display: grid;
		grid-template-columns: 50% auto;
		justify-content: center;
		
		.social ul {
			display: flex;
		}

		@include md {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			justify-content: center;
			gap: 30px;
	
			.bikelogo {
				grid-column: 2 / 3;
			}
			.bikepara {
				grid-column: 3 / 4;
			}
			.social {
				grid-column: 3 / 4;
			}
		}
	}
}
