/* =============
    Header
============= */
header{
    background-color: rgb(5, 38, 60);

    .logo {
        border-bottom: 8px solid $lightblue;
		padding-bottom: 20px;
    }

    ul {
        padding: 20px;
    }
}