/* =============
    Buttons
============= */
.button {
    cursor: pointer;
    background-color: $brown;
    border: none;
    font-size: rem-calc(16);
    font-weight: 600;
    padding: 10px;
    transition: 0.25s;
}